.para{
    color: red;
    background: linear-gradient(to left,green,yellow);
    
}
.fulltop{
     background: linear-gradient(to left,green,yellow);
}
.top{
    background: linear-gradient(to left,green,yellow);

}